In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv('titanic_dataset.csv')

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [21]:

# Import label encoder
from sklearn import preprocessing
  

label_encoder = preprocessing.LabelEncoder()
  
data['Sex']= label_encoder.fit_transform(data['Sex'])
  
data['Sex'].unique()

# convert categorical variables into numerical variables

data= pd.get_dummies(data, columns=['Embarked'])

In [18]:
# handle missing values
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

In [20]:
# drop unnecessary columns
data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [22]:
# split the dataset into input features and target variable
X = data.drop(['Survived'], axis=1).values
y = data['Survived'].values

In [23]:
# Step 3: Create kNN and SVM models
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [24]:
# create kNN model
knn = KNeighborsClassifier(n_neighbors=5)

In [25]:
# create SVM model
svm = SVC(kernel='linear', C=1, gamma='scale')

In [26]:
# k-fold and stratified k-fold cross validation techniques and find the average accuracy score of the models
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import accuracy_score

In [27]:
# create k-fold cross validation object
kfold = KFold(n_splits=5)

# create stratified k-fold cross validation object
strat_kfold = StratifiedKFold(n_splits=5)

In [28]:
# perform k-fold cross validation on kNN model
knn_scores = []
for train_index, test_index in kfold.split(X):
    knn.fit(X[train_index], y[train_index])
    knn_scores.append(accuracy_score(y[test_index], knn.predict(X[test_index])))
print('kNN average accuracy score using k-fold cross validation:', np.mean(knn_scores))

kNN average accuracy score using k-fold cross validation: 0.6925428410018203

In [29]:
# perform stratified k-fold cross validation on kNN model
strat_knn_scores = []
for train_index, test_index in strat_kfold.split(X, y):
    knn.fit(X[train_index], y[train_index])
    strat_knn_scores.append(accuracy_score(y[test_index], knn.predict(X[test_index])))
print('kNN average accuracy score using stratified k-fold cross validation:', np.mean(strat_knn_scores))

kNN average accuracy score using stratified k-fold cross validation: 0.6857949908982487

In [30]:

# perform k-fold cross validation on SVM model
svm_scores = []
for train_index, test_index in kfold.split(X):
    svm.fit(X[train_index], y[train_index])
    svm_scores.append(accuracy_score(y[test_index], svm.predict(X[test_index])))
print('SVM average accuracy score using k-fold cross validation:', np.mean(svm_scores))

SVM average accuracy score using k-fold cross validation: 0.7878475927437072

In [32]:
# perform stratified k-fold cross validation on SVM model
strat_svm_scores = []
for train_index, test_index in strat_kfold.split(X, y):
    svm.fit(X[train_index], y[train_index])
    strat_svm_scores.append(accuracy_score(y[test_index], svm.predict(X[test_index])))
print('SVM average accuracy score using stratified k-fold cross validation:', np.mean(strat_svm_scores))

SVM average accuracy score using stratified k-fold cross validation: 0.7878601468834348